/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Raleway|PT+Serif:700");
:root {
  --main-color: #1a1a1a1a;
  --main-bg-color: white;
  --main-theme-color: rgb(243, 168, 47);
  --main-stack: sans-serif;
  --light-gray: #ccc;
  --light-white: white;
  --light-black: #282a39;
  --container-width: 768px;
  --font-body-stack: Raleway, Charcoalm sans-serif;
  --font-heading-stock: "PT Serif", sans-serif;
}

body {
  background: var(--main-color);
  font-family: var(--main-stack);
}

.container {
  max-width: var(--container-width);
  margin-right: auto;
  margin-left: auto;
}

.button {
  padding: 1rem 3.8rem;
  text-transform: uppercase;
  border: 1px solid #eee;
  outline: 0;
  opacity: 0.9;
  font-weight: bold;
  transition: 0.3s all ease;
}

.button:hover {
  opacity: 1;
  background: var(--light-black);
  color: white;
}

.button.button--bordered {
  border: 1px solid var(--light-black);
}

.jabquiz {
  padding: 2rem 1.4rem;
}

.jabquiz__question-box {
  text-align: center;
}

.jabquiz__question {
  font-family: var(--font-heading-stack);
  font-weight: bold;
  letter-spacing: 1.5px;
  padding: 0.8rem 4rem;
  color: var(--main-font-color);
}

.jabquiz__tracker {
  font-family: var(--font-body-stack);
  color: var(--light-black);
  padding: 1rem;
}

.progress {
  border-radius: 4px;
  margin: 2rem auto;
  width: 50%;
  background-color: var(--light-white);
}

.progress__inner {
  height: 10px;
  width: 0%;
  background-color: var(--main-theme-color);
  border-right: 2px;
}

.jabquiz__tagline {
  font-family: var(--font-body-stack);
  color: var(--light-gray);
  font-size: 1.4rem;
}

.jabquiz__choices {
  list-style-type: none;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
}

.jabquiz__choice {
  min-width: 300px;
  border-radius: 4px;
  display: block;
  background: var(--light-white);
  margin: 0.5rem auto;
  font-family: sans-serif;
  color: var(--light-black);
  letter-spacing: 1.2px;
}

.jabquiz__label {
  padding: 2rem;
  display: flex;
  align-items: center;
}

.jabquiz__choices-box input {
  opacity: 0;
}

.jabquiz__choices-box input:checked + label {
  color: var(--main-theme-color);
}

.jabquiz__choices-box input:checked + label i {
  background: url("../img/circle-filled.svg");
  background-size: 40px;
  height: 40px;
  width: 40px;
  display: inline-block;
  position: relative;
  top: 1px;
  left: -2px;
  margin-right: 10px;
}

.jabquiz__choice label i {
  background: url("../img/circle-outline.svg");
  background-size: 40px;
  height: 40px;
  width: 40px;
}

.jabquiz__footer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
